<div class="container">
  <div class="row">
    <div class="col-md-4 row justify-content-center">
      <img src="../../../assets/logos/infosys-tagline.jpg/>
    </div>
    <div class=" col-md-8 shadow p-3 mb-5 bg-white rounded">
      <h1>Login</h1>
      <hr>
      <br>
      <form [formGroup]="angForm" novalidate>
        <div class="alert alert-danger" *ngIf="errMessage">
          {{errMessage}}.
        </div>
        <div class="alert alert-success" *ngIf="successMessage">
          {{successMessage}}.
        </div>

        <div class="form-group">
          <select formControlName="tenantName" class="form-control" class="custom-select mb-3">
            <option hidden="true">Choose Tenant</option>
            <option *ngFor="let tenantName of tenantNames"> {{tenantName}}</option>
          </select>
        </div>
        <div
          *ngIf="angForm.controls['tenantName'].invalid && (angForm.controls['tenantName'].dirty || angForm.controls['tenantName'].touched)"
          class="alert alert-danger">
          <div *ngIf="angForm.controls['tenantName'].errors.required">
            Tenant is required.
          </div>
        </div>

        <div class="form-group">
          <label>Username</label>
          <input type="text" class="form-control" name="userName" placeholder="Enter username"
                 formControlName="userName"/>
        </div>
        <div
          *ngIf="angForm.controls['userName'].invalid && (angForm.controls['userName'].dirty || angForm.controls['userName'].touched)"
          class="alert alert-danger">
          <div *ngIf="angForm.controls['userName'].errors.required">
            Username is required.
          </div>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" name="password" placeholder="Enter password"
                 formControlName="password"/>
        </div>
        <div
          *ngIf="angForm.controls['password'].invalid && (angForm.controls['password'].dirty || angForm.controls['password'].touched)"
          class="alert alert-danger">
          <div *ngIf="angForm.controls['password'].errors.required">
            Password is required.
          </div>
        </div>
        <div class="form-group">
          <button (click)="onLogin(angForm)" [disabled]="angForm.pristine || angForm.invalid"
                  class="btn btn-primary">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
